:root {
  /* A cor abaixo foi selecionada especialmente pela nossa designer cabeçuda */
  --corprimaria: #8c52ff;
  /* Cor secundária */
}
body {
  margin: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  overflow: hidden;
}

.barrasuperior {
  color: var(--corprimaria);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--corprimaria);
  padding-left: 3%;
}

.menu {
  display: flex;
  align-items: end;
  margin-left: auto;
  
}
.menu a {
  display: flex;
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  color: inherit;
  float: right;
  transition: text-shadow 0.2s ease-in-out;
  
}

.menu a:hover{
  text-shadow: 0px 0px 5px #8c52ff;
}

#logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.caixaintroalpha {
  border-bottom: 2px solid var(--corprimaria);
}
.caixaintrobeta {
  padding-top: 5%;
  padding-bottom: 5%;
}
.caixaintrodelta {
  margin-left: 30%;
  margin-right: auto;
  font-size: xx-large;
}
.caixaintrodelta h1 {
  color: black;
}
.caixaintrodelta h2 {
  font-size: large;
  color: rgb(66, 66, 66);
}
.cartao {
  width: 30%;
  margin: 0 auto;
  border-top: 2px solid var(--corprimaria);
  border-bottom: 2px solid var(--corprimaria);
  border-radius: 10px;
  padding-left: 2%;
  gap: 3px;
  margin-bottom: 2%;
  transition: box-shadow 0.5s;
}
.cartao:hover {
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.425);
}
.caixartigos {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

@media (max-width: 550px) {
  .caixaintrodelta {
    margin: auto;
    width: 50%;
  }
  .caixaintrodelta h1 {
    font-size: 2rem;
  }
  .caixaintrodelta h2 {
    font-size: medium;
  }
  .caixartigos {
    flex-direction: column;
  }
  .cartao {
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
  }
}


